services:
  postgres:
    image: postgres
    container_name: postgres_db
    environment:
      POSTGRES_DB: pg_local
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: admin
    ports:
      - "5432:5432"
    volumes: []
    restart: unless-stopped

volumes:
  postgres_data: